/*
sass sass/style.scss css/style.css --watch --style compressed
*/

/*
Voix ambiguë d'un cœur qui, au zéphyr, préfère les joyaux français à Kintzburg.
*/

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Regular;
  src: url(../font/Stone-Inf-ITC-Medium.ttf);
  font-display: swap;
}

@font-face {
  font-family: Menu;
  src: url(../font/ITCAvantGardeStd-Demi.otf);
  font-display: swap;
}

body {
  font-family: Regular, "Times New Roman", Times, serif;
  font-display: swap;
  height: 100dvh;
  background-color: #07070d;
  background-image: url("../img/background/day.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  display: grid;
  grid-template: 18px 1fr 18px / 18px 1fr 18px;
  overflow: hidden;
  font-family: Regular, Arial, Helvetica, sans-serif;
  color: white;
}

#surface {  // body child
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template: auto 50px / 1fr;
  background-color: #8f8f8f35;
  border-radius: 10px;
  box-shadow: 3px 3px 30px black;
  overflow: hidden;
}

#mainBox {  // surface child
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template: 15px 15fr 28vh 25fr 60fr 15fr 100fr 13px / 15px 1fr 15px;
  overflow: auto;
}

#navBar { // surface child
  grid-area: 2 / 1 / 3 / 2;
  color: white;
  font-family: Menu, Arial, Helvetica, sans-serif;
  grid-template: 1fr / minmax(200px, 65%) 1fr 1fr 1fr .1fr;
  gap: 2px;
  display: grid;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  border-top: #d9d9d9ab 2px solid;
}

.navBtn { // navBar child
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  aspect-ratio: 1/1;
  align-self: center;
  justify-self: center;
  height: 70%;
  background-color: transparent;
  border-style: solid;
  border-color: #d9d9d9ab;
}

#labelMenu {
  grid-area: 1 / 1 / 2 / 2;
  border: #d9d9d9ab 2px solid;
  height: 70%;
  width: 90%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
}

#backBtn {
  grid-area: 1 / 2 / 2 / 3;
}

#nextBtn {
  grid-area: 1 / 3 / 2 / 4;
}

#burgerBtn {
  grid-area: 1 / 4 / 2 / 5;
}

#contact tr:hover {
  cursor: pointer;
  text-decoration: underline;
}

#photo {  // mainBox child
  grid-area: 3 / 2 / 4 / 3;
  background-color: #d9d9d97b;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  justify-self: center;
}

#photo img {  // photo child
  height: 105%;
}

#presentation { // mainBox child
  grid-area: 5 / 2 / 6 / 3;
}

#contact {  // mainBox child
  grid-area: 7 / 2 / 8 / 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Menu, Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  color: white;
}

#contact td:first-child { // contact child
  text-align: center;
}

#navBar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f5f5f500;
}
#navBar::-webkit-scrollbar-thumb {
  background-color: #d9d9d97b;
  border-radius: 5px;
}
#navBar::-webkit-scrollbar-track {
  margin: 7px;
}

#mainBox::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f5f5f500;
}
#mainBox::-webkit-scrollbar-thumb {
  background-color: #d9d9d97b;
  border-radius: 5px;
}
#mainBox::-webkit-scrollbar-track {
  margin: 7px;
}

.iconify {
  transform: translateY(1.5px);
}

// Responsive design

@media (orientation: landscape) {
  #surface { // body child
    grid-template:  1fr / 65px 1fr;
    position: relative;
  }
  #mainBox { // surface child
    grid-area: 1 / 2 / 2 / 3;
    grid-template: 15px 1fr 1fr 1fr 15px / 15px .1fr 1.6fr 1fr 15px;
  }

  #photo {  // mainBox child
    grid-area: 2 / 4 / 3 / 5;
    justify-self: end;
    min-height: 100px;
    max-height: 300px;
  }

  #presentation { // mainBox child
    grid-area: 3 / 3 / 4 / 4;
    font-size: 2em;
  }

  #contact { // mainBox child
    grid-area: 4 / 4 / 5 / 5;
  }

  #navBar {
    grid-area: 1 / 1 / 2 / 2;
    grid-template: minmax(200px, 45%) minmax(120px, 2fr) 1fr 1fr 1fr .1fr/ 1fr;
    grid-gap: 2px;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: #d9d9d9ab 2px solid;
    border-top: none;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #labelMenu {  // navBar child
    grid-area: 1 / 1 / 2 / 2;
    border: #d9d9d9ab 2px solid;
    height: 90%;
    width: 70%;
    align-self: center;
    justify-self: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  .navBtn { // navBar child
    height: auto;
    aspect-ratio: 1 / 1;
    width: 70%;
  }

  #backBtn {
    grid-area: 3 / 1 / 4 / 2;
  }

  #nextBtn {
    grid-area: 4 / 1 / 5 / 2;
  }

  #burgerBtn {
    grid-area: 5 / 1 / 6 / 2;
  }

  #beanBox {
    display: flex;
    position: relative;
    grid-area: 2 / 1 / 3 / 2;
    border-radius: 25px;
    height: 90%;
    width: 70%;
    border-width: 2px;
    border-style: solid;
    border-color: #d9d9d9ab;
    align-self: center;
    justify-self: center;
    margin-left: -1px;
    justify-content: center;
    align-items: center;
  }

  #navBar::-webkit-scrollbar-thumb {
    background-color: #d9d9d9b4;
    border-radius: 5px;
  }

  #mainBox::-webkit-scrollbar {
    display: block;
    width: 5px;
    height: 5px;
    background-color: #f5f5f500;
  }
  #mainBox::-webkit-scrollbar-thumb {
    display: block;
    background-color: #d9d9d9c7;
    border-radius: 5px;
  }
  #mainBox::-webkit-scrollbar-track {
    display: none;
    margin: 7px;
  }

  #scrollBean {
    touch-action: none;
    position : absolute;
    background-color: #d9d9d9c7;
    color: white;
    border-radius: 45px;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    min-height: 42.5px;
    max-height: 100%;
    border: 3px solid transparent;
    background-clip: padding-box;
  }
}